name: Makefile CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build 32/64 bits on Linux and cross compile for Windows

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install depedencies
      run: sudo apt-get install -y
        gcc-multilib g++-multilib mingw-w64 wine64

    - name: Build Linux 64 bits
      run: make clean; make demo

    - name: Build itself Linux 64 bits (bootstrap)
      run: make cfront_c

    - name: Build Linux 32 bits
      run: make clean; make MSIZE='-m32' demo

    - name: Build itself Linux 32 bits (bootstrap)
      run: rm cfront_c; make  MSIZE='-m32' cfront_c

    - name: Cross compiling for Win64
      run: ./mk-mingw64.sh clean; ./mk-mingw64.sh

    - name: Build itself Win64 (bootstrap)
      run: ./mk-mingw64.sh cfront_c.exe

    - name: Cross compiling for Win32
      run: ./mk-mingw32.sh clean; ./mk-mingw32.sh

    - name: Build itself Win32 (bootstrap)
      run: ./mk-mingw32.sh cfront_c.exe

  build-osx-amd64:
    name: cfront OSX/amd64
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2

    # build project amd64
    - name: Build amd64
      run: make clean; make demo

    - name: Build itself (bootstrap)
      run: make cfront_c
